.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  .username-input {
    height: 30px;
  }

  .submit-btn {
    width: 30%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
